body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: #B4FDB0;
}

.quem-somos{
    background-color: rgb(95, 95, 242);
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;

}

.h33{
    margin-top: 20px;
    color: white;
}

.parceiros{
    background-color: rgb(46, 2, 49);
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
    padding-top: 50px;
}